body {
  background: url("https://68.media.tumblr.com/86836ce1c59d5c42c223d538e456242d/tumblr_oixsp0RAcc1vbprslo1_500.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: yellow;
}

.info {
  color: #CD5C5C;
}

.title {
  color: #CD5C5C;
}

#paragraph1 {
  color: #CD5C5C;
}
#paragraph2 {
  color: #CD5C5C;
}
#paragraph3 {
  color: #CD5C5C;
}
#paragraph4 {
  color: #CD5C5C
}

.paragraphs {
  border-radius: 110px;
  border-style: groove;
  border-color: yellow;
  color: #CD5C5C;
}
